/*preprocessor 1: variables */
$primary-color: #930101;
$secondary-color: #f2dfca;

/*preprocessor 2: mixins */
/* mixins to optimize zone */

@mixin centered-object {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin navigation-menu-one-line {
    content: " | ";
    font-weight: 900;
    padding-right: 5px;
    color: $primary-color;
}

@mixin centered-text {
    display: block;
    text-align: center;
}

@mixin menu-links {
    & {

        &:link,
        &:visited {
            color: black;
            text-decoration: none;
            display: inline-block;
            border-bottom: 0.15em solid $secondary-color;
            transition: border-color 0.5s ease-out;
        }

        &:hover {
            color: $primary-color;
            border-color: $primary-color;
        }
    }
}

@mixin red-line-links {
    & {

        &:link,
        &:visited {
            color: $primary-color;
            text-decoration: none;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

@mixin top-borders {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

@mixin padding-percent-left-right($left, $right) {
    padding-left: $left;
    padding-right: $right;
}

@mixin margin-percent-left-right($left, $right) {
    margin-left: $left;
    margin-right: $right;
}

@mixin padding-percent-top-bottom($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin margin-percent-top-bottom($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@keyframes blink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes shrink {
    0% {
        clip-path: rect(0% 100% 100% 0% round 0%);
    }

    10% {
        clip-path: rect(0.5% 99.5% 100% 0.5% round 5%);
    }

    20% {
        clip-path: rect(1% 99% 100% 1% round 5%);
    }

    30% {
        clip-path: rect(1.5% 98.5% 100% 1.5% round 10%);
    }

    40% {
        clip-path: rect(2% 98% 100% 2% round 10%);
    }

    50% {
        clip-path: rect(2.5% 97.5% 100% 2.5% round 15%);
    }

    60% {
        clip-path: rect(3% 97% 100% 3% round 15%);
    }

    70% {
        clip-path: rect(3.5% 96.5% 100% 3.5% round 15%);
    }

    80% {
        clip-path: rect(4% 96% 100% 4% round 20%);
    }

    90% {
        clip-path: rect(4.5% 95.5% 100% 4.5% round 20%);
    }

    100% {
        clip-path: rect(5% 95% 100% 5% round 20%);
    }
}

/* general classes */

* {
    //box-sizing: border-box;
}

body {
    font-family: "Playwrite IT Moderna", cursive;
    font-weight: 400;
    background: linear-gradient(to bottom, $secondary-color, #fff);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header {
    background-color: $secondary-color;
}

footer {
    background-color: $primary-color;
}

h1 {
    @include centered-object();
    color: $primary-color;
    margin-top: 0;
    padding-top: 1em;
    margin-bottom: -1em;
}

h2 {
    @include centered-text();
    color: $primary-color;
}

svg {
    fill: $primary-color;
    display: inline;
}

.blinking-chars-group .char {
    animation: blink 2s 1 forwards ease-in-out;
    transform: scale();
}

/*preprocessor 3: nesting */

span {
    & {
        &.my-name {
            color: white;
            @include centered-text();
        }

        &.contact-info {
            color: $primary-color;
            font-style: italic;
        }
    }
}

a {
    & {

        &.menu-link {
            @include menu-links();
        }

        &.red-lined-link {
            @include red-line-links();
        }
    }
}

nav.menu-navigation {
    padding-bottom: 1em;

    ul.nav-ul {
        list-style-type: none;
        padding: 0;
    }
}

img {
    & {

        &.image-white-gradient:hover {
            animation: shrink 1s ease forwards;
        }

        &.dishes-img {
            @include top-borders();
            aspect-ratio: 1/1;
            width: 100%;
        }

        &.image-place {
            @include margin-percent-top-bottom(5%, 0%);
        }

        &.clip-path-img {
            height: auto;
        }
    }
}

div {
    & {
        &.dish-card {
            background-color: $primary-color;
            color: white;
            border-radius: 5%;
            margin-bottom: 1em;
        }

        &.dish-and-price {
            display: flex;
            justify-content: space-between;
        }

        &.container-card {
            position: relative;
            text-align: center;
            width: auto;
            height: auto;
            aspect-ratio: 1/1;
        }

        &.back-card {
            display: none;
            @include padding-percent-left-right(1em, 1em);
        }

        &.main-history-container {
            margin-bottom: 1em;
            display: flex;
            flex-direction: column;
        }

        &.video-div {
            margin-bottom: 2em;
        }

        &.enlaces-div {
            font-family: Arial, Helvetica, sans-serif;
        }

        &.luca-img {
            @include centered-object();
        }
    }
}

form {
    margin-bottom: 3em;

    label {
        display: block;
        margin-bottom: 0.3em;
    }

    input {
        border: 1px solid white;
        height: 2em;
        width: 100%;
        display: block;
    }

    textarea {
        height: 10em;
        width: 100%;
        resize: both;
        border: 1px solid white;
    }

    small {
        color: red;

        &.confirmation-message {
            color: black;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    button {
        color: white;
        background-color: $primary-color;
        height: 2em;
        float: inline-end;
        border-radius: 10%;
        border: 1px solid $primary-color;
    }
}

figure {
    margin: 0;
    padding: 0;
    position: relative;

    iframe {
        border: none;
        width: 100%;
    }

    figcaption {
        font-size: 0.7em;
    }
}

/* for smartphone */
@media screen and (max-width: 399px) {

    main {
        @include padding-percent-left-right(10%, 10%);
    }

    ul.nav-ul {
        @include centered-text();
    }

    span.my-name {
        @include padding-percent-top-bottom(1em, 1em);
        font-size: 0.5em;
    }

    picture.luca-picture {
        @include margin-percent-left-right(5%, 0%)
    }

    img {
        & {

            &.clip-path-img {
                width: 80vw;
                clip-path: circle(35% at 45% 30%);
                @include margin-percent-top-bottom(10%, -35%);
            }

            &.image-place {
                clip-path: rect(0% 100% 100% 0% round 5%);
            }
        }
    }

    div {

        & {
            &.menu-food-container {
                @include centered-object();
                flex-direction: column;
            }

            &.places-container {
                @include centered-object();
            }
        }
    }

    p.dish-text {
        @include padding-percent-left-right(1em, 1em);
        font-size: 0.8em;
    }

    iframe {
        height: calc(100vw/2.1);
    }

    .history-svg {
        @include margin-percent-top-bottom(0, -15%);
    }

    text.special-text-phone {
        font-size: 0.8em;
    }
}

/* for tablet */
@media screen and (min-width: 400px) and (max-width: 799px) {

    main {
        @include padding-percent-left-right(10%, 10%);
    }

    ul.nav-ul {
        @include centered-object();

        li:not(:last-child)::after {
            @include navigation-menu-one-line();
        }
    }

    span.my-name {
        @include padding-percent-top-bottom(1em, 1em);
        font-size: 0.7em;
    }

    picture.luca-picture {
        @include margin-percent-left-right(5%, 0%)
    }

    img {
        & {

            &.clip-path-img {
                width: 50vw;
                clip-path: rect(0% 90% 80% 0% round 5%);
                @include margin-percent-top-bottom(5%, -30%);
            }

            &.image-place {
                clip-path: rect(0% 100% 100% 0% round 5%);
            }
        }
    }

    div {
        & {
            &.menu-food-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            &.dish-card {
                @include margin-percent-left-right(5%, 5%);
            }

            &.places-container {
                @include centered-object();
            }
        }
    }

    p {
        & {
            &.dish-text {
                @include padding-percent-left-right(1em, 1em);
                font-size: 0.8em;
            }

            &.history-paragraf {
                font-size: 1em;
            }
        }
    }

    iframe {
        height: calc(100vw/2);
    }

    .history-svg {
        @include margin-percent-top-bottom(0, -7%);
    }
}

/* for desktop */
@media screen and (min-width: 800px) {

    main {
        @include padding-percent-left-right(25%, 25%);
    }

    span.my-name {
        @include padding-percent-top-bottom(2em, 2em);
        font-size: 1em;
    }

    ul.nav-ul {
        @include centered-object();

        li:not(:last-child)::after {
            @include navigation-menu-one-line();
        }
    }

    p.dish-text {
        @include padding-percent-left-right(1em, 1em);
        font-size: 1em;
    }

    div.history-container {
        display: flex;
        padding-bottom: 2em;

        &:nth-child(odd) {
            flex-direction: row;

            p.history-paragraf {
                padding-right: 2em;
            }

            img.image-place {
                clip-path: xywh(0 1% 100% 95% round 10% 0);
            }
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            p.history-paragraf {
                padding-left: 2em;
            }

            img.image-place {
                clip-path: xywh(0 1% 100% 95% round 0 10%);
            }
        }

        p.history-paragraf {
            font-size: 1rem;
        }
    }

    img {
        & {

            &.clip-path-img {
                width: 50vw;
                clip-path: ellipse(40% 40% at 49% 40%);
                @include margin-percent-top-bottom(5%, -10%);
            }
        }
    }

    iframe {
        height: calc(100vw/3.5);
    }

    div {
        & {
            &.main-container-contact-form {
                display: flex;
                justify-content: space-between;
            }

            &.contact-div {
                width: 100%;
                @include margin-percent-left-right(5%, 5%);
            }

            &.menu-food-container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }

            &.dish-card {
                @include margin-percent-left-right(5%, 5%);
            }

            &.enlaces-div {
                display: flex;
            }

            &.inner-enlaces-div {
                @include padding-percent-left-right(5%, 5%);
            }
        }
    }

    button {
        @include margin-percent-left-right(0, 5%);
    }

    .history-svg {
        @include margin-percent-top-bottom(0, -10%);
    }

    text.special-text-phone {
        font-size: 0.8em;
    }
}