@import url("https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap");

/*preprocessor 1: variables */
$primary-color: #930101;
$secondary-color: #f2dfca;

/*preprocessor 2: mixins */
/* mixins to optimize zone */

@mixin centered-object {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin navigation-menu-one-line {
    content: " | ";
    font-weight: 900;
    padding-right: 5px;
    color: $primary-color;
}

@mixin centered-text {
    display: block;
    text-align: center;
}

@mixin menu-links {
    & {

        &:link,
        &:visited {
            color: black;
            text-decoration: none;
        }

        &:hover {
            color: $primary-color;
        }
    }
}

@mixin contact-links {
    & {

        &:link,
        &:visited {
            color: $primary-color;
            text-decoration: none;
        }
    }
}

@mixin top-borders {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

@mixin padding-percent($left, $right) {
    padding-left: $left;
    padding-right: $right;
}

@mixin margin-percent($left, $right) {
    margin-left: $left;
    margin-right: $right;
}

/* general and index.html code */

* {
    box-sizing: border-box;
}

body {
    font-family: "Playwrite IT Moderna", cursive;
    font-weight: 400;
    background: linear-gradient(to bottom, $secondary-color, #fff);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    @include padding-percent(10%, 10%)
}

header {
    background-color: $secondary-color;
}

footer {
    background-color: $primary-color;
}

h1 {
    @include centered-object();
    color: $primary-color;
    margin-top: 0;
    padding-top: 1em;
}

h2 {
    @include centered-text();
    color: $primary-color;
}

span {
    & {
        &.my-name {
            color: white;
            font-size: 0.5em;
            padding-top: 1em;
            padding-bottom: 1em;
            @include centered-text();
        }

        &.contact-info {
            color: $primary-color;
            font-style: italic;
        }
    }
}

a {
    & {
        &.email-contact {
            @include contact-links();
        }

        &.menu-link {
            @include menu-links();
        }
    }
}

/*preprocessor 3: nesting */
nav.menu-navigation {
    padding-bottom: 1em;

    ul.nav-ul {
        list-style-type: none;
        padding: 0;
    }
}

/* carta.html code */

div.dish-card {
    background-color: $primary-color;
    color: white;
    border-radius: 5%;
    margin-bottom: 1em;
}

div.dish-and-price {
    display: flex;
    justify-content: space-between;

    p.dish-text {
        font-size: 0.8em;
        @include padding-percent(1em, 1em);
    }
}

img.dishes-img {
    @include top-borders();
    aspect-ratio: 1/1;
    width: 100%;
}

/* contacto.html code */

label {
    display: block;
    margin-bottom: 0.3em;
}

input {
    border: 1px solid white;
    height: 2em;
    width: 100%;
    display: block;
}

textarea {
    height: 10em;
    width: 100%;
    resize: both;
    border: 1px solid white;
}

small {
    color: red;
}

small.confirmation-message {
    color: black;
    margin-bottom: 0;
    padding-bottom: 0;
}

button {
    color: white;
    background-color: $primary-color;
    height: 2em;
    float: inline-end;
    border-radius: 10%;
    border: 1px solid $primary-color;
}

form {
    margin-bottom: 3em;
}

/* historia.html code */

div.main-history-container {
    margin-bottom: 1em; /* este de aqui irá al div del video, no aqui */
    display: flex;
    flex-direction: column;
}

figure {
    margin: 0;
    padding: 0;
    position: relative;

    iframe {
        border: none;
        width: 100%;
    }

    figcaption {
        font-size: 0.7em;
    }
}

div.video-div {
    margin-bottom: 2em;
}

/* for smartphone */
@media screen and (max-width: 399px) {
    /* index page and general configuration */

    ul.nav-ul {
        @include centered-text();
    }

    /* carta.html */

    div.menu-food-container {
        @include centered-object();
        flex-direction: column;
    }

    /* historia.html */

    img.places-img {
        width: 100%;
        height: auto;
    }

    iframe {
        height: calc(100vw/2.1);
    }
}

/* for tablet */
@media screen and (min-width: 400px) and (max-width: 799px) {
    /* index page and general configuration */

    ul.nav-ul {
        @include centered-object();
    }

    ul.nav-ul li:not(:last-child)::after {
        @include navigation-menu-one-line();
    }

    /* carta.html */

    div.menu-food-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    div.dish-card {
        @include margin-percent(5%, 5%);
    }

    /* historia.html */

    img.places-img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    p.history-paragraf {
        font-size: 1em;
    }

    iframe {
        height: calc(100vw/2);
    }
}

/* for desktop */
@media screen and (min-width: 800px) {
    /* index page and general configuration */

    main {
        @include padding-percent(25%, 25%)
    }

    ul.nav-ul {
        @include centered-object();
    }

    ul.nav-ul li:not(:last-child)::after {
        @include navigation-menu-one-line();
    }

    /* carta.html */

    div.menu-food-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    div.dish-card {
        @include margin-percent(5%, 5%);
    }

    /* historia.html */

    div.history-container {
        display: flex;
        flex-direction: row;
        padding-bottom: 2em;
    }

    div.history-container:nth-child(odd) {
        flex-direction: row;

        p.history-paragraf {
            padding-right: 2em;
            font-size: 1rem;
        }
    }

    div.history-container:nth-child(even) {
        flex-direction: row-reverse;

        p.history-paragraf {
            padding-left: 2em;
            font-size: 1rem;
        }
    }

    img.places-img {
        width: 50%;
        height: auto;
        object-fit: cover;
        margin-top: 2em;
    }

    iframe {
        height: calc(100vw/3.5);
    }
}