@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

:root {
    --primary-color: #930101;
    --background-primary-color: #F2DFCA;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Playwrite IT Moderna', cursive;
    font-weight: 400;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

header {
    background-color: var(--background-primary-color);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    background-color: inherit;
    margin-top: 0;
}

nav.menu-navigation {
    background-color: var(--background-primary-color);
}

ul.nav-ul {
    list-style-type: none;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: var(--background-primary-color);
}

li.nav-li {
    background-color: inherit;
}

ul.nav-ul li:not(:last-child)::after {
    content: " · ";
    font-weight: 900;
    padding-right: 5px;
    color: var(--primary-color);
    background-color: inherit;
}

/*for smartphone*/
@media screen and (max-width: 399px) {
    
}

/* for tablet */
@media screen and  (min-width: 400px) and (max-width: 799px){
    
}

/* for desktop */
@media screen and (min-width: 900px) {}