@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

/*preprocessor 1: variables */
$primary-color: #930101;
$secondary-color: #F2DFCA;

/*preprocessor 2: mixins */
/* mixins to optimize zone */

@mixin centered-object {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin navigation-menu-one-line {
    content: " | ";
    font-weight: 900;
    padding-right: 5px;
    color: $primary-color;
}

@mixin centered-text {
    display: block;
    text-align: center;
}

@mixin menu-links {
    & {
        &:link,
        &:visited {
            color: black;
            text-decoration: none;
        }
        &:hover {
            color: $primary-color;
        }
    }
}

@mixin top-borders {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

/* general and index.html code */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Playwrite IT Moderna', cursive;
    font-weight: 400;
    background: linear-gradient(to bottom, $secondary-color, #fff);;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header {
    background-color: $secondary-color;
}

footer {
    background-color: $primary-color;
}

h1 {
    @include centered-object();
    color: $primary-color;
    margin-top: 0;
    padding-top: 1em;
}

h2 {
    @include centered-text();
    padding-left: 10%;
    padding-right: 10%;
    color: $primary-color;
}

span.my-name {
    color: white;
    font-size: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    @include centered-text();
}

a.menu-link {
    @include menu-links();
}

/*preprocessor 3: nesting */
nav.menu-navigation {
    padding-bottom: 1em;

    ul.nav-ul {
        list-style-type: none;
        padding: 0;
    }
}

/* carta.html code */

div.dish-card {
    background-color: white;
    border-radius: 5%;
}

div.dish-and-price {
    display: flex;
    justify-content: space-between;
    p.dish-text {
        font-size: 0.8em;
        padding-left: 1em;
        padding-right: 1em;
    }
}

/* for smartphone */
@media screen and (max-width: 399px) {

    /* index page and general configuration */

    ul.nav-ul {
        @include centered-text();
    }

    /* carta.html */

    div.menu-food-container {
        @include centered-object();
    }

    img.dishes-img {
        width: 300px;
        height: 300px;
        @include top-borders();
    }

}

/* for tablet */
@media screen and  (min-width: 400px) and (max-width: 799px){

    /* index page and general configuration */
    
    ul.nav-ul {
        @include centered-object();
    }
    
    ul.nav-ul li:not(:last-child)::after {
        @include navigation-menu-one-line();
    }

    /* carta.html */

    
}

/* for desktop */
@media screen and (min-width: 800px) {

    /* index page and general configuration */
    
    ul.nav-ul {
        @include centered-object();
    }

    ul.nav-ul li:not(:last-child)::after {
        @include navigation-menu-one-line();
    }
}
